<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6bf0ada7-234d-49e0-99cb-d18c7abf8e1a/resourceGroups/EAD2_X00149830/providers/Microsoft.Web/sites/EAD2CA2BirdAppAPI20210409142733</ResourceId>
    <ResourceGroup>EAD2_X00149830</ResourceGroup>
    <ApiResourceId>/subscriptions/6bf0ada7-234d-49e0-99cb-d18c7abf8e1a/resourceGroups/EAD_CA2_BirdAPP/providers/Microsoft.ApiManagement/service/EAD2CA2BirdAppAPIapi/apis/EAD2CA2BirdAppAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ead2ca2birdappapi20210409142733.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>a0e4168a-9747-45d2-92ee-6c6b5a7a1c56</ProjectGuid>
    <MSDeployServiceURL>ead2ca2birdappapi20210409142733.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EAD2CA2BirdAppAPI20210409142733</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EAD2CA2BirdAppAPI20210409142733</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>